<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
  <connectionStrings>
    <!--工程师-->
    <!--<add name="myconn" connectionString="GAEGvHDQdmhfQNxbXMdVedfNau+7pnfF/9RYEbvMGdKT+E6z53MY9TLiKRJzy1tGpdWYgDs+C7aNBnHG1uqEHdal1IoLYghzYEwUr750MKEP9hCLGa+bfArvp3C8R/G2TcwMUqvJLazjc9Ea9cvEojm7OE41DTph"/>-->
    <!--应用部门-->
    <add name="myconn" connectionString="GAEGvHDQdmhfQNxbXMdVedfNau+7pnfF/9RYEbvMGdKT+E6z53MY9TLiKRJzy1tGpdWYgDs+C7aNBnHG1uqEHadsXGBHbOVVMU40lLXIDILwvRxOLiSqiqC9LKEuOCTI8MiOMnC3gbs133xEPiE0XQ=="/>
    <!--本机-->
    <!--<add name="myconn" connectionString="GAEGvHDQdmhE4O3CWSFj5zi0eYHuOv74TyECsaL9arJhEfkC3RiZhDKwrMG64KVDNN0/DtGy3zJYx9Hi+GB7vEq/6PAmwjKzKDW2IF2uSj5Ba3yBKbTIpdwpbyHQeMw8"/>-->
  </connectionStrings>
</configuration>
